 body{
    /* background:radial-gradient(circle, red, green, blue); */
    background-color: black;
    color: aliceblue;
    font-size: 30px;
    
    
;
}

.topbar{
    background-color: #0d1117; 
    padding: 20px 60px 10px 20px; 
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
}

#banner{
    background-color: #182130; 
    box-shadow: 2px 2px 10px 10px gray; 
    height: 50vh;
}

#btn{
    background-color: white;
    color: black;
    font-size: large;
    padding: 10;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

#btn:hover{
    border: 2px solid white;
    background-color: rgb(91, 44, 200);
    box-shadow: 2px 2px 12px white;
}
